<!DOCTYPE html>
<html>
  <head>
    <title>Seafood Company Reset Password Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10rem;
      width: fit-content;
      margin-bottom: 10rem;
    }

    .register {
      margin-top: 2.5rem;
      text-align: center;
    }

    .input-group {
      margin-bottom: 1rem;
    }

    /* Title styling */
    .title {
      text-align: center;
      font-size: 2rem;
      color: #2c3e50;
      text-transform: uppercase;
      border-bottom: 2px solid #3498db;
      padding-bottom: 10px;
    }

    .btn {
      color: white;
      text-decoration: none;
    }

    .btn:hover {
      color: white;
    }

    body {
      background-color: #f8f9fa; /* Light background for contrast */
    }

    .form-label {
      font-weight: bold; /* Bold font for labels */
      color: #555; /* Darker color for labels */
    }

    input.form-control {
      border: 2px solid #007bff; /* Primary border color */
      transition: border-color 0.3s; /* Smooth transition for focus */
    }

    input.form-control:focus {
      border-color: #0056b3; /* Darker border on focus */
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Seafood Company</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 class="title mb-1">Reset Password Form</h1>

      <form method="post" action="/reset-password">
        <div class="row mb-3">
          <label for="newPassword" class="form-label col-12"
            >Fill in the new Password for the user with username: <%= username
            %></label
          >
          <div class="col-12 mt-3">
            <input
              type="text"
              name="newPassword"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
